<!DOCTYPE html>
<html>
<head>
    <title>Welcome to User Registration Symfony Application</title>
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
</head>
<body>
<div class="container">
    <h1>Welcome to User Registration</h1>
    <div class="language-toggle" id="language-toggle" onclick="toggleLanguage()">Français</div>

    <div class="button-container">
        <button class="button" id="admin-button" onclick="window.location.href = '{{ path('app_admin') }}'">Admin Panel</button>
        <button class="button" id="user-button" onclick="window.location.href = '{{ path('app_user') }}'">Register User</button>
    </div>
</div>

<script>
    var languageToggle = document.getElementById('language-toggle');
    var adminButton = document.getElementById('admin-button');
    var userButton = document.getElementById('user-button');
    var isEnglish = true;

    var userPreferredLanguage = navigator.language.substring(0, 2);

    if (userPreferredLanguage === 'fr') {
        toggleLanguage();
    }

    function toggleLanguage() {
        var h1Element = document.querySelector('h1');
        if (isEnglish) {
            h1Element.innerHTML = 'Bienvenue à l\'inscription des utilisateurs';
            languageToggle.innerHTML = 'English';
            adminButton.innerHTML = 'Panneau d\'administration';
            userButton.innerHTML = 'Enregistrer l\'utilisateur';
        } else {
            h1Element.innerHTML = 'Welcome to User Registration';
            languageToggle.innerHTML = 'Français';
            adminButton.innerHTML = 'Admin Panel';
            userButton.innerHTML = 'Register User';
        }
        isEnglish = !isEnglish;
    }
</script>
</body>
</html>
