<!DOCTYPE html>
<html>
<head>
    <title>User Registration Page</title>
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
</head>
<body>
<div class="container">
    <h1>User Registration Page</h1>
    <div class="language-toggle" id="language-toggle" onclick="toggleLanguage()">Français</div>
    <form action="{{ path('user_registration_submit') }}" method="post" enctype="multipart/form-data">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <label for="repeat_password">Repeat Password:</label>
        <input type="password" id="repeat_password" name="repeat_password" required>

        <label for="full_name">Full Name:</label>
        <input type="text" id="full_name" name="full_name" required>

        <label for="image">Passport Scan:</label>
        <input type="file" id="image" name="image" accept="image/*" required>

        <button class="user-registration" id="submit-button" type="submit">Register</button>
    </form>

    <button class="user-registration" id="back-button" onclick="window.location.href = '{{ path('app_homepage') }}'">Back</button>
</div>
<script>
    var languageToggle = document.getElementById('language-toggle');
    var emailLabel = document.querySelector('label[for="email"]');
    var passwordLabel = document.querySelector('label[for="password"]');
    var repeatPasswordLabel = document.querySelector('label[for="repeat_password"]');
    var fullNameLabel = document.querySelector('label[for="full_name"]');
    var imageLabel = document.querySelector('label[for="image"]');
    var registerButton = document.querySelector('button[type="submit"]');
    var backButton = document.getElementById('back-button');
    var isEnglish = true;

    var userPreferredLanguage = navigator.language.substring(0, 2);

    if (userPreferredLanguage === 'fr') {
        toggleLanguage();
    }

    function toggleLanguage() {
        var h1Element = document.querySelector('h1');

        if (isEnglish) {
            h1Element.innerHTML = 'Bienvenue à l\'inscription des utilisateurs';
            languageToggle.innerHTML = 'English';
            emailLabel.innerHTML = 'Adresse électronique:';
            passwordLabel.innerHTML = 'Mot de passe:';
            repeatPasswordLabel.innerHTML = 'Répéter le mot de passe:';
            fullNameLabel.innerHTML = 'Nom complet:';
            imageLabel.innerHTML = 'Scan du passeport:';
            registerButton.innerHTML = 'S\'inscrire';
            backButton.innerHTML = 'Retour';
        } else {
            h1Element.innerHTML = 'User Registration Page';
            languageToggle.innerHTML = 'Français';
            emailLabel.innerHTML = 'Email:';
            passwordLabel.innerHTML = 'Password:';
            repeatPasswordLabel.innerHTML = 'Repeat Password:';
            fullNameLabel.innerHTML = 'Full Name:';
            imageLabel.innerHTML = 'Passport Scan:';
            registerButton.innerHTML = 'Register';
            backButton.innerHTML = 'Back';
        }
        isEnglish = !isEnglish;
    }
</script>
</body>
</html>
